{% extends "blog/base.html" %} 
{% load mptt_tags %}

{% block title %}List of categories{% endblock %}

{% block content %}

<div class="container">
    <h1>List of categories</h1>
    <p>This is an example app to show how to generate slugs in Django as shown in <a href="https://simpleit.rocks/python/django/categories-with-django-cbv/">https://simpleit.rocks/python/django/categories-with-django-cbv/</a></p>
    <div>
	<ul>
	    {% recursetree object_list %}
	    <li>
		<a href="{{node.get_absolute_url}}">{{node.name}}</a>
		{% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
		{% endif %}
	    </li>
	    {% endrecursetree %}
	</ul>
    </div>
    <h2>Item list</h2>
    <ul>
	{% for item in items %}
	<li>{{item}}: <a href="{{item.get_absolute_url}}">{{item.get_absolute_url}}</a></li>
	{% endfor %}
    </ul>
</div>

{% include "blog/_breadcrumbs.html"%}

{% endblock %}
